<svg
	class={$$props.class}
	width="64"
	height="64"
	viewBox="0 0 64 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface8">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.222656 10.980469 L 51.738281 10.980469 L 51.738281 46.894531 L 12.222656 46.894531 Z M 12.222656 10.980469 "/>
<path style=" stroke:none;fill-rule:evenodd;fill:rgb(90.980392%,25.490196%,25.882353%);fill-opacity:1;" d="M 63.980469 32 C 63.980469 49.648438 49.660156 63.957031 32 63.957031 C 14.339844 63.957031 0.0195312 49.648438 0.0195312 32 C 0.0195312 14.351562 14.339844 0.0429688 32 0.0429688 C 49.660156 0.0429688 63.980469 14.351562 63.980469 32 Z M 22.9375 44.71875 L 16.730469 44.71875 C 15.429688 44.71875 14.785156 44.71875 14.390625 44.464844 C 13.964844 44.191406 13.707031 43.734375 13.675781 43.234375 C 13.652344 42.769531 13.972656 42.207031 14.617188 41.074219 L 29.941406 14.082031 C 30.59375 12.9375 30.925781 12.363281 31.339844 12.152344 C 31.789062 11.921875 32.324219 11.921875 32.769531 12.152344 C 33.1875 12.363281 33.515625 12.9375 34.167969 14.082031 L 37.320312 19.578125 L 37.335938 19.605469 C 38.039062 20.835938 38.398438 21.460938 38.550781 22.113281 C 38.726562 22.828125 38.726562 23.582031 38.550781 24.296875 C 38.394531 24.957031 38.042969 25.582031 37.328125 26.832031 L 29.277344 41.050781 L 29.257812 41.085938 C 28.546875 42.328125 28.1875 42.957031 27.691406 43.429688 C 27.148438 43.949219 26.496094 44.324219 25.78125 44.535156 C 25.128906 44.71875 24.398438 44.71875 22.9375 44.71875 Z M 38.609375 44.71875 L 47.503906 44.71875 C 48.816406 44.71875 49.476562 44.71875 49.867188 44.457031 C 50.292969 44.183594 50.558594 43.71875 50.582031 43.21875 C 50.605469 42.769531 50.289062 42.226562 49.671875 41.160156 C 49.652344 41.125 49.632812 41.089844 49.609375 41.050781 L 45.15625 33.4375 L 45.105469 33.351562 C 44.476562 32.292969 44.164062 31.757812 43.757812 31.550781 C 43.308594 31.324219 42.78125 31.324219 42.335938 31.550781 C 41.925781 31.765625 41.597656 32.320312 40.945312 33.445312 L 36.503906 41.058594 L 36.488281 41.085938 C 35.839844 42.207031 35.515625 42.765625 35.539062 43.226562 C 35.570312 43.726562 35.828125 44.191406 36.253906 44.464844 C 36.640625 44.71875 37.300781 44.71875 38.609375 44.71875 Z M 38.609375 44.71875 "/>
</g>
</svg>
