<svg
	class={$$props.class}
	width="64"
	height="64"
	viewBox="0 0 64 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface4">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(3.921569%,75.686275%,55.686275%);fill-opacity:1;" d="M 64 31.5 C 64 48.898438 49.671875 63 32 63 C 14.328125 63 0 48.898438 0 31.5 C 0 14.101562 14.328125 0 32 0 C 49.671875 0 64 14.101562 64 31.5 Z M 64 31.5 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 41.980469 20.921875 C 40.375 17.332031 36.679688 16.566406 32.15625 17.308594 L 30.699219 11.761719 L 27.273438 12.632812 L 28.703125 18.164062 C 27.800781 18.386719 26.875 18.582031 25.957031 18.835938 L 24.527344 13.335938 L 21.101562 14.207031 L 22.554688 19.753906 C 21.816406 19.964844 15.632812 21.523438 15.632812 21.523438 L 16.578125 25.136719 C 16.578125 25.136719 19.09375 24.441406 19.070312 24.496094 C 20.46875 24.136719 21.125 24.824219 21.433594 25.472656 L 25.429688 40.679688 C 25.476562 41.117188 25.398438 41.871094 24.4375 42.125 C 24.496094 42.15625 21.945312 42.757812 21.945312 42.757812 L 22.320312 46.96875 C 22.320312 46.96875 28.441406 45.425781 29.246094 45.226562 L 30.714844 50.839844 L 34.144531 49.96875 L 32.675781 44.316406 C 33.617188 44.101562 34.535156 43.875 35.425781 43.644531 L 36.890625 49.265625 L 40.316406 48.394531 L 38.847656 42.789062 C 44.125 41.527344 47.855469 38.246094 47.089844 33.234375 C 46.601562 30.210938 43.25 27.734375 40.464844 27.453125 C 42.175781 25.960938 43.046875 23.777344 41.980469 20.921875 Z M 40.332031 34.15625 C 41.015625 39.121094 34.007812 39.726562 31.691406 40.328125 L 29.675781 32.898438 C 32 32.300781 39.179688 29.78125 40.332031 34.15625 Z M 36.109375 24.039062 C 36.832031 28.453125 30.839844 28.964844 28.90625 29.453125 L 27.070312 22.714844 C 29.011719 22.242188 34.640625 19.957031 36.109375 24.039062 Z M 36.109375 24.039062 "/>
</g>
</svg>
