<svg
	class={$$props.class}
	width="64"
	height="64"
	viewBox="0 0 64 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface7">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(18.039216%,19.215686%,28.235294%);fill-opacity:1;" d="M 64 32 C 64 49.671875 49.671875 64 32 64 C 14.328125 64 0 49.671875 0 32 C 0 14.328125 14.328125 0 32 0 C 49.671875 0 64 14.328125 64 32 Z M 64 32 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(10.588235%,11.764706%,21.176471%);fill-opacity:1;" d="M 50.566406 32 C 50.566406 42.253906 42.253906 50.566406 32 50.566406 C 21.746094 50.566406 13.433594 42.253906 13.433594 32 C 13.433594 21.746094 21.746094 13.433594 32 13.433594 C 42.253906 13.433594 50.566406 21.746094 50.566406 32 Z M 50.566406 32 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(43.529412%,45.098039%,56.470588%);fill-opacity:1;" d="M 32.066406 4.082031 C 28.613281 4.082031 25.8125 16.609375 25.8125 32.066406 C 25.8125 47.519531 28.613281 60.050781 32.066406 60.050781 C 35.519531 60.050781 38.320312 47.519531 38.320312 32.066406 C 38.320312 16.609375 35.519531 4.082031 32.066406 4.082031 Z M 32.496094 58.46875 C 32.101562 58.996094 31.707031 58.601562 31.707031 58.601562 C 30.117188 56.757812 29.320312 53.335938 29.320312 53.335938 C 26.539062 44.378906 27.203125 25.152344 27.203125 25.152344 C 28.507812 9.890625 30.886719 6.285156 31.695312 5.484375 C 31.867188 5.316406 32.136719 5.292969 32.332031 5.433594 C 33.503906 6.265625 34.488281 9.746094 34.488281 9.746094 C 37.398438 20.542969 37.136719 30.683594 37.136719 30.683594 C 37.398438 39.507812 35.679688 49.382812 35.679688 49.382812 C 34.351562 56.890625 32.496094 58.46875 32.496094 58.46875 Z M 32.496094 58.46875 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(43.529412%,45.098039%,56.470588%);fill-opacity:1;" d="M 56.339844 18.140625 C 54.617188 15.144531 42.359375 18.949219 28.945312 26.640625 C 15.535156 34.328125 6.074219 42.996094 7.792969 45.992188 C 9.511719 48.988281 21.773438 45.183594 35.183594 37.492188 C 48.597656 29.800781 58.058594 21.136719 56.339844 18.140625 Z M 9.378906 45.578125 C 8.71875 45.496094 8.867188 44.957031 8.867188 44.957031 C 9.675781 42.660156 12.246094 40.265625 12.246094 40.265625 C 18.632812 33.394531 35.640625 24.402344 35.640625 24.402344 C 49.527344 17.941406 53.84375 18.210938 54.9375 18.511719 C 55.167969 18.578125 55.320312 18.800781 55.296875 19.039062 C 55.164062 20.472656 52.628906 23.058594 52.628906 23.058594 C 44.714844 30.960938 35.789062 35.777344 35.789062 35.777344 C 28.265625 40.398438 18.84375 43.820312 18.84375 43.820312 C 11.671875 46.402344 9.378906 45.578125 9.378906 45.578125 Z M 9.378906 45.578125 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(43.529412%,45.098039%,56.470588%);fill-opacity:1;" d="M 56.277344 46.089844 C 58.011719 43.101562 48.574219 34.398438 35.207031 26.648438 C 21.84375 18.898438 9.585938 15.046875 7.855469 18.042969 C 6.121094 21.035156 15.558594 29.734375 28.929688 37.484375 C 42.304688 45.230469 54.546875 49.085938 56.277344 46.089844 Z M 9.003906 19.195312 C 8.746094 18.589844 9.285156 18.441406 9.285156 18.441406 C 11.679688 17.992188 15.039062 19.019531 15.039062 19.019531 C 24.183594 21.101562 40.488281 31.316406 40.488281 31.316406 C 53.039062 40.097656 54.964844 43.96875 55.253906 45.066406 C 55.3125 45.296875 55.199219 45.539062 54.980469 45.640625 C 53.667969 46.238281 50.164062 45.347656 50.164062 45.347656 C 39.359375 42.449219 30.71875 37.140625 30.71875 37.140625 C 22.953125 32.953125 15.277344 26.511719 15.277344 26.511719 C 9.441406 21.597656 9.003906 19.203125 9.003906 19.203125 Z M 9.003906 19.195312 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(71.764706%,72.54902%,78.431373%);fill-opacity:1;" d="M 35.292969 32 C 35.292969 33.816406 33.816406 35.292969 32 35.292969 C 30.183594 35.292969 28.707031 33.816406 28.707031 32 C 28.707031 30.183594 30.183594 28.707031 32 28.707031 C 33.816406 28.707031 35.292969 30.183594 35.292969 32 Z M 35.292969 32 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(71.764706%,72.54902%,78.431373%);fill-opacity:1;" d="M 47.40625 19.359375 C 47.40625 18.265625 46.550781 17.382812 45.496094 17.382812 C 44.441406 17.382812 43.589844 18.265625 43.589844 19.359375 C 43.589844 20.449219 44.441406 21.332031 45.496094 21.332031 C 46.550781 21.332031 47.40625 20.449219 47.40625 19.359375 Z M 47.40625 19.359375 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(71.764706%,72.54902%,78.431373%);fill-opacity:1;" d="M 16.066406 26.074219 C 16.066406 24.984375 15.210938 24.097656 14.15625 24.097656 C 13.101562 24.097656 12.246094 24.984375 12.246094 26.074219 C 12.246094 27.164062 13.101562 28.050781 14.15625 28.050781 C 15.210938 28.050781 16.066406 27.164062 16.066406 26.074219 Z M 16.066406 26.074219 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(71.764706%,72.54902%,78.431373%);fill-opacity:1;" d="M 30.023438 50.304688 C 30.023438 49.214844 29.167969 48.328125 28.113281 48.328125 C 27.0625 48.328125 26.207031 49.214844 26.207031 50.304688 C 26.207031 51.394531 27.0625 52.28125 28.113281 52.28125 C 29.167969 52.28125 30.023438 51.394531 30.023438 50.304688 Z M 30.023438 50.304688 "/>
</g>
</svg>
