<svg
	class={$$props.class}
	width="73"
	height="64"
	viewBox="0 0 73 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface1">
<path style=" stroke:none;fill-rule:evenodd;fill:rgb(31.372549%,68.627451%,58.431373%);fill-opacity:1;" d="M 13.367188 0.324219 L 0.0546875 28.492188 C -0.046875 28.707031 0 28.964844 0.171875 29.128906 L 36.121094 63.835938 C 36.332031 64.039062 36.667969 64.039062 36.878906 63.835938 L 72.828125 29.132812 C 73 28.96875 73.046875 28.710938 72.945312 28.496094 L 59.632812 0.328125 C 59.546875 0.132812 59.355469 0.0117188 59.144531 0.0117188 L 13.859375 0.0117188 C 13.648438 0.0078125 13.457031 0.132812 13.367188 0.324219 Z M 13.367188 0.324219 "/>
<path style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 41.117188 31.386719 C 40.859375 31.40625 39.527344 31.484375 36.550781 31.484375 C 34.1875 31.484375 32.507812 31.414062 31.917969 31.386719 C 22.777344 30.980469 15.953125 29.378906 15.953125 27.457031 C 15.953125 25.539062 22.777344 23.9375 31.917969 23.523438 L 31.917969 29.789062 C 32.515625 29.832031 34.226562 29.933594 36.59375 29.933594 C 39.433594 29.933594 40.855469 29.816406 41.109375 29.789062 L 41.109375 23.527344 C 50.234375 23.9375 57.042969 25.542969 57.042969 27.457031 C 57.042969 29.371094 50.234375 30.976562 41.109375 31.382812 Z M 41.117188 22.882812 L 41.117188 17.277344 L 53.851562 17.277344 L 53.851562 8.726562 L 19.1875 8.726562 L 19.1875 17.277344 L 31.914062 17.277344 L 31.914062 22.878906 C 21.570312 23.359375 13.789062 25.421875 13.789062 27.898438 C 13.789062 30.371094 21.570312 32.433594 31.914062 32.914062 L 31.914062 50.878906 L 41.117188 50.878906 L 41.117188 32.910156 C 51.441406 32.429688 59.207031 30.367188 59.207031 27.894531 C 59.207031 25.421875 51.445312 23.359375 41.117188 22.878906 Z M 41.117188 22.882812 Z M 41.117188 22.882812 "/>
</g>
</svg>
