<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Tokenomics</SectionHeader>
	<SectionTitle>RUNE Tokenomics</SectionTitle>
	<SectionDescription
		>THORChain’s native coin, RUNE, serves many vital roles in the network.</SectionDescription
	>

	<div
		class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/money.png" alt="connect" />
			<CardTitle>Settlement Asset</CardTitle>
			<CardDescription>
				RUNE serves as the settlement currency between all supported assets, ensuring that any two
				assets can be swapped directly. For example, a BTC -> ETH transaction goes from BTC to RUNE
				to ETH without the swapper needing to use RUNE.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/shield.png" alt="shield" />
			<CardTitle>Economic Security</CardTitle>
			<CardDescription>
				THORChain is secured by Proof-of-Stake. Node operators must bond RUNE to enter into the
				network. Their total value bonded is greater than the assets they secure, ensuring
				cooperation and maintaining economic security for assets held by the network.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/scales.png" alt="tree" />
			<CardTitle>Aligned Incentives</CardTitle>
			<CardDescription>
				A balance between the amount of bonded RUNE and pooled RUNE is key to a secure and liquid
				network. If the network is under-bonded, node operators are incentivized to increase their
				bonds, if it’s over-bonded, liquidity providers are incentivized to pool more assets.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/line-graph.png" alt="coin" />
			<CardTitle>Value and Utility</CardTitle>
			<CardDescription>
				Increasing THORChain’s swap volume grows fees for liquidity providers, which leads to deeper
				pools and better prices, resulting in higher volume. This cycle drives value to RUNE.
			</CardDescription>
		</Card>
	</div>
</Section>
