<script lang="ts">
	import FilterDropdown from './FilterDropdown.svelte';
	import _ from 'lodash';
	import Fuse from 'fuse.js';

	import Section from '$lib/components/Section/Section.svelte';

	import Card from '$lib/components/Card/Card.svelte';
	import CardButton from '$lib/components/Card/CardButton.svelte';
	import CardCategory from '$lib/components/Card/CardCategory.svelte';
	import CardDescription from '$lib/components/Card/CardDescription.svelte';
	import CardTitle from '$lib/components/Card/CardTitle.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

	import Search from '$lib/icons/Search.svelte';
	import Button from '$lib/components/Button/Button.svelte';
	import SettingConfig from '$lib/icons/SettingConfig.svelte';
	import Close from '$lib/icons/Close.svelte';

	import { appsAndServices } from '$lib/services/constants';
	import type { AppsAndServicesItem } from '$lib/services/interfaces';

	let selectedTags: string[] = [];
	let searchTerm: string = '';

	const matchSearchTerm = (item: AppsAndServicesItem) => {
		if (!searchTerm) {
			return false;
		}

		const fuse = new Fuse([item], {
			keys: ['title', 'description'],
		});

		return fuse.search(searchTerm).map((result) => result.item).length === 1;
	};

	const handleDeleteTagPress = (tag: string) => {
		selectedTags = selectedTags.filter((item) => item !== tag);
	};

	$: filterApplied = selectedTags.length || searchTerm.length;

	$: filteredAppAndServices = appsAndServices.filter((item) => {
		const containsAnySelectedTag = _.intersection(item.tags, selectedTags).length;

		const tagFilter = selectedTags.length > 0 ? containsAnySelectedTag : true;

		const searchFilter = searchTerm.length > 0 ? matchSearchTerm(item) : true;

		return tagFilter && searchFilter;
	});
</script>

<style>
	.image-container {
    height: 80px; /* or any fixed height */
    width: 100%; /* container takes full width */
    display: flex;
    justify-content: left; /* center image horizontally */
    align-items: center; /* center image vertically */
	padding-right: 30px;
}

.logo-image {
    height: 100%;
    width: auto; /* maintain aspect ratio */
    object-fit: contain; /* ensure the image is fully visible */
}
</style>

<Section>
	<SectionHeader>Ecosystem Projects</SectionHeader>
	<SectionTitle>{appsAndServices.length} Apps and Services</SectionTitle>

	<div class="grid grid-cols-12 text-white mt-[10px] md:mt-[30px] gap-[10px]">
		<div class="col-span-12 lg:col-span-8 xl:col-span-9 relative shadow-sm h-fit">
			<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
				<div class="h-5 w-5">
					<Search />
				</div>
			</div>
			<input
				bind:value={searchTerm}
				type="text"
				name="email"
				id="email"
				class="bg-medium-gray outline-none h-[52px] ring-0 border-0 block w-full pl-[47px] sm:text-sm border-gray-300 placeholder:text-text-secondary leading-none"
				placeholder="Search project..."
			/>
		</div>

		<div class="col-span-12 lg:col-span-4 xl:col-span-3">
			<FilterDropdown bind:selectedTags>
				<Button class="h-[52px] w-full bg-medium-gray justify-center items-center border-0">
					<div slot="leading">
						<SettingConfig class="h-5 w-5" />
					</div>
					<div>
						<p class="text-xsmall font-bold">Browse by Category</p>
					</div>
					<div
						class="flex items-center justify-center w-[26px] h-[26px] bg-white rounded-full"
						slot="trailing"
					>
						<p class="text-xsmall text-black">{selectedTags.length}</p>
					</div>
				</Button>
			</FilterDropdown>
		</div>
	</div>

	{#if filterApplied}
		<div class="mt-[30px]">
			<h4 class="mb-[10px] text-d-h4 font-extrabold">{filteredAppAndServices.length} projects</h4>

			<div class="flex space-x-[5px]">
				{#each selectedTags as tag}
					<div class="flex items-center py-[9px] px-[15px] border-[1px] border-green">
						{tag}

						<div
							class="ml-[10px] h-3 w-3 text-text-secondary cursor-pointer"
							on:click={() => handleDeleteTagPress(tag)}
						>
							<Close />
						</div>
					</div>
				{/each}
			</div>
		</div>
	{/if}

	<div class="grid grid-cols-1 xl:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[10px] md:mt-[30px]">
		{#each filteredAppAndServices as service}
			<Card>
				<div class="flex justify-between mb-1">
					<!-- Image container with fixed aspect ratio -->
					<div class="image-container">
						<img class="logo-image" src={service.logo} alt={service.title} />
					</div>
					<CardCategory class="text-text-secondary text-right">
						{service.tags.join(', ')}
					</CardCategory>
				</div>
				<CardTitle>{service.title}</CardTitle>
				<CardDescription>{service.description}</CardDescription>
				<a href={service.url} target="_blank" rel="noopener noreferrer">
					<CardButton>Go to App</CardButton>
				</a>
			</Card>
		{/each}
	</div>
	
</Section>
