<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import BorrowHero from '../lib/components/Hero/BorrowHero.svelte';
    import BorrowInterfaces from '$lib/components/BorrowInterfaces/BorrowInterfaces.svelte';
    import BorrowInfo from '$lib/components/BorrowInfo/BorrowInfo.svelte';
	import JoinCommunity from '../lib/components/JoinCommunity/JoinCommunity.svelte';
	import LendingExplanation from '$lib/components/LendingExplanation/LendingExplanation.svelte';
	import LendingRiskMgmt from '$lib/components/LendingRiskMgmt/LendingRiskMgmt.svelte';
</script>

<svelte:head>
	<title>Borrow - THORChain</title>
	<meta name="description" content="Borrow against native Bitcoin and Ethereum to receive a US Dollar denominated debt">
</svelte:head>

<div>
	<BorrowHero />
	<LendingExplanation />
    <BorrowInfo />
	<LendingRiskMgmt />
	<BorrowInterfaces />
	<JoinCommunity />
</div>
