<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import RuneHero from '../lib/components/Hero/RuneHero.svelte';
	import Tokenomics from '../lib/components/Tokenomics/Tokenomics.svelte';
	import RuneMetrics from '../lib/components/RuneMetrics/RuneMetrics.svelte';
	import JoinCommunity from '../lib/components/JoinCommunity/JoinCommunity.svelte';
	import Calculator from '../lib/components/Calculator/Calculator.svelte';
</script>

<svelte:head>
	<title>RUNE - THORChain</title>
	<meta name="description" content="RUNE is the native asset of THORChain. Learn more about RUNE's value proposition and tokenomics.">
</svelte:head>

<div>
	<RuneHero />
	<RuneMetrics />
	<Tokenomics />
<!--<Calculator /> Remove calculator-->
	<JoinCommunity />
</div>
