<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Documentation</SectionHeader>
	<SectionTitle>Getting Started</SectionTitle>
	<SectionDescription
		>Read the documentation and get started with integrating THORChain infrastructure to power your app</SectionDescription
	>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]">
		<LinkCard
		category=""
		categoryClass="text-green"
		title="Developer Documentation"
		description="Documentation pertaining to integrating THORChain: wallets, fees, transaction memos, libraries, middleware, CLIs, etc."
		buttonText="View Docs"
		href="https://dev.thorchain.org/"
	/>
		
		<LinkCard
			category=""
			categoryClass="text-green"
			title="Network Documentation"
			description="Documentation pertaining to the network: emissions schedule,
		incentive pendulum, liquidity, synthetic assets, lending, etc."
			buttonText="View Docs"
			href="https://docs.thorchain.org/"
		/>

		<LinkCard
		category=""
		categoryClass="text-green"
		title="Developers Discord"
		description="Announcements & discussion for THORChain developers. Ask Integrations questions in the #integrate-thorchain channel"
		buttonText="Enter Discord"
		href="https://discord.gg/tW64BraTnX"
	/>


	</div>

	<div class="grid grid-cols-1 lg:grid-cols-2 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]">
		<LinkCard
		category=""
		categoryClass="text-green"
		title="XChainJS"
		description="XChainJS is a TypeScript library designed for cross-chain wallets, offering lightweight functionality. It enables connection to multiple blockchains through a unified interface, including THORChain and cross-chain swaps."
		buttonText="Get Started"
		href="https://dev.thorchain.org/"
		logo="/images/services/xchainjs.svg"
	/>
		
		<LinkCard
			category=""
			categoryClass="text-green"
			title="SwapKit"
			description="Swapkit’s SDK gives developers API access to a powerful suite of non-custodial, permissionless DeFi tools to interact with 5,500+ crypto assets across 10 blockchains including Bitcoin, Ethereum, and THORChain."
			buttonText="Get Started"
			href="https://swapkit.dev/"
			logo="/images/services/swapkit.svg"
		/>


	</div>

</Section>
