<script>
	import { onMount } from 'svelte';

	let chains = [
		//when a new chain is added, import the name and color here
		{ id: 'Bitcoin', color: '#f2a900' },
		{ id: 'Ethereum', color: '#716b94' },
		{ id: 'BNB-Chain', color: '#F0B90B' },
		{ id: 'Avalanche', color: '#E84142' },
		{ id: 'Cosmos-Hub', color: '#5064fb' },
		{ id: 'Dogecoin', color: '#e1b303' },
		{ id: 'Bitcoin-Cash', color: '#0AC18E' },
		{ id: 'Litecoin', color: '#345d9d' },
	];

	let currentChainIndex = 0;

	onMount(() => {
		const interval = setInterval(() => {
			currentChainIndex = (currentChainIndex + 1) % chains.length;
		}, 5000);

		return () => {
			clearInterval(interval);
		};
	});
</script>

<p class="font-bold text-small lg:text-d-lead text-text-primary">
    THORChain is a network that facilitates native asset settlement between 
    {#each chains as chain, i (chain.id)}
        {#if i !== 0 && i !== chains.length - 1}
            <span>, </span>
        {/if}
        {#if i === chains.length - 1}
            <span>& </span>
        {/if}
        <span class="chain" style="color: {i === currentChainIndex ? chain.color : 'white'}">
            {chain.id.charAt(0).toUpperCase() + chain.id.slice(1).replace('-', ' ')}
        </span>
    {/each}
    <span></span>
</p>

<style>
    .chain {
        transition: color 1s ease-in;
    }
</style>



