<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardButton from '../Card/CardButton.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Lending Information</SectionHeader>
	<SectionTitle>How Lending Works</SectionTitle>
	<SectionDescription>
    Borrow against your native assets, receive as USD-denominated debt
	</SectionDescription>

	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/donate.png" alt="donate" />
			<CardTitle>TOR Stablecoin</CardTitle>
			<CardDescription>
				Collateral is provided as Layer 1 assets and debt is recorded in TOR - THORChain's internal censor-resistant stablecoin oracle. Debt can be paid back as any asset, which is swapped to TOR to repay. Loans can't be partially repaid.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin2.png" alt="bitcion" />
			<CardTitle>Derived Assets</CardTitle>
			<CardDescription>
				Derived assets are used for the accounting of lending collateral. Derived assets maintain the price of the corresponding native asset and ensure that the protocol maintains a strict policy of economic security.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/money.png" alt="money" />
			<CardTitle>50% Loan-to-Value</CardTitle>
			<CardDescription>
				THORChain Loans are issued at a fixed 200% CR or 50% LTV. 
				<br>
				<br>
				To refinance if collateral value increases, the user must close their existing loan and open a new one.
			</CardDescription>

		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/time-is-money.png" alt="time" />
			<CardTitle>30 Day Minimum</CardTitle>
			<CardDescription>
				Loans have a minimum term of 30 days, to encourage long-term depositors, which gives the maximum benefit to the protocol. A borrower cannot receive their collateral back before the minimum term.
   
			</CardDescription>
		</Card>
	</div>
</Section>
