<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import MetricData from '$lib/components/Metric/MetricData.svelte';
	import MetricTitle from '$lib/components/Metric/MetricTitle.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
	import LendingEstimator from '$lib/components/LendingEstimator/LendingEstimator.svelte';

</script>

<Section>
	<SectionHeader>What is Thorchain Lending?</SectionHeader>
	<SectionTitle>Unlock the value of your Bitcoin</SectionTitle>

	<div
		class="flex items-center flex-col lg:flex-row xl:flex-row justify-center gap-4 mt-[30px] md:mt-[40px]"
	>
		<div class="flex-1 text-center lg:text-left space-y-[20px]">
			<div class="text-center lg:text-left space-y-[20px]">
				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					Deposit BTC or ETH into THORChain lending and receive debt at 50% Loan-To-Value. Your debt is always denominated in USD but can be received or repaid easily with any asset supported by THORChain.
				</p>

				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					Pay back your debt and THORChain will send you back your collateral.
				</p>

                <p class="font-normal text-small lg:text-d-lead text-text-primary">
					THORChain deploys collateral in the liquidity pools, allowing the protocol to earn yield from swap fees. This provides users the opportunity to borrow without charging interest.
				</p>

                <p class="font-normal text-small lg:text-d-lead text-text-primary">
					THORChain's unique architecture makes it the best protocol to unlock the value of your assets - without having to sell your coins or worry about liquidations from price fluctuations.
				</p>


			</div>
		</div>

		<div class="flex-1 justify-content-right">
			<LendingEstimator />
		</div>
	</div>
</Section>
