<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Interfaces</SectionHeader>
	<SectionTitle>Built With THORChain</SectionTitle>
	<SectionDescription>
		Wallets, Exchanges, and Aggregators permissionlessly use THORChain as infrastructure to unlock decentralised cross-chain
		liquidity to let users swap on more chains with the industry's best price execution.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>

		<LinkCard
			category="Web"
			title="THORSwap"
			description=""
			href="https://app.thorswap.finance/"
			buttonText="Enter App"
			logo="/images/services/thorswap.png"
		/>

		<LinkCard
		category="ios | Android | Web"
		title="THORWallet"
		description=""
		href="https://thorwallet.app.link/4MoUX7GFzmb"
		buttonText="Enter App"
		logo= '/images/services/thorwallet.svg'
	/>

		<LinkCard
			category="Desktop"
			title="Asgardex"
			description=""
			href="https://asgardex.com"
			buttonText="Enter App"
			logo= '/images/services/asgardex.png'
		/>

		<LinkCard
			category="ios | android"
			title="Trust Wallet"
			description=""
			href="https://trustwallet.com/"
			buttonText="Enter App"
			logo= "/images/services/trustwallet.svg"
		/>

		<LinkCard
		category="ios | android | Web"
		title="Shapeshift"
		description=""
		href="https://app.shapeshift.com/"
		buttonText="Enter App"
		logo= '/images/services/shapeshiftdao.svg'
	/>

		<LinkCard
		category="ios | android"
		title="Cake Wallet"
		description=""
		href="https://cakewallet.com/"
		buttonText="Enter App"
		logo= '/images/services/cakewallet.png'
	/>

	<LinkCard
	category="Web"
	title="Li.Fi"
	description=""
	href="https://li.fi/"
	buttonText="Enter App"
	logo= '/images/services/lifi.svg'
/>


		<LinkCard
			category="ios | android"
			title="Edge"
			description=""
			href="https://edge.app/"
			buttonText="Enter App"
			logo= '/images/services/edge.svg'
		/>

		<LinkCard
			category="web | Browser Extension"
			title="XDEFI Wallet"
			description=""
			href="https://www.xdefi.io/"
			buttonText="Enter App"
			logo= '/images/services/xdefi.png'
		/>

		<LinkCard
		category="Web"
		title="Rango"
		description=""
		href="https://rango.exchange"
		buttonText="Enter App"
		logo= '/images/services/rango.png'
	/>

	<LinkCard
	category="Web"
	title="Symbiosis"
	description=""
	href="https://symbiosis.finance"
	buttonText="Enter App"
	logo= '/images/services/symbiosis.jpeg'
/>

<LinkCard
category="Web"
title="Lends"
description=""
href="https://lends.so"
buttonText="Enter App"
logo= '/images/services/lends.svg'
/>

<LinkCard
category="Web"
title="Rubic"
description=""
href="https://rubic.exchange"
buttonText="Enter App"
logo= '/images/services/rubic.png'
/>

	<LinkCard
	category="Web"
	title="Unizen"
	description=""
	href="https://zcx.com/trade"
	buttonText="Enter App"
	logo= '/images/services/unizen.png'
/>

		<LinkCard
			category="Web"
			title="Defispot"
			description=""
			href="https://defispot.com/"
			buttonText="Enter App"
			logo= '/images/services/defispot.svg'
		/>


		<LinkCard
			category="Web"
			title="Decentralfi"
			description=""
			href="https://decentralfi.io/"
			buttonText="Enter App"
			logo= "/images/services/decentralfi.svg"
		/>

		<LinkCard
		category="Web"
		title="Kensho"
		description=""
		href="https://www.kensho.finance/"
		buttonText="Enter App"
		logo= '/images/services/kensho.png'
	/>

	<LinkCard
	category="Web"
	title="RocketX"
	description=""
	href="https://rocketx.exchange/"
	buttonText="Enter App"
	logo= '/images/services/rocketx.png'
/>

<LinkCard
category="Web"
title="Giddy"
description=""
href="https://www.giddy.co"
buttonText="Enter App"
logo= '/images/services/giddy.svg'
/>

	</div>
</Section>
