<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import MetricData from '$lib/components/Metric/MetricData.svelte';
	import MetricTitle from '$lib/components/Metric/MetricTitle.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
	import SwapEstimator from '$lib/components/SwapEstimator/SwapEstimator.svelte';

	import { formatNumber } from '$lib/services/helpers';
	import { useMetrics } from '$lib/services/queries';

	const metricsQuery = useMetrics();

	$: metrics = $metricsQuery.data;
	$: isLoading = $metricsQuery.isLoading;
</script>

<Section>
	<SectionHeader>THORChain Key Metrics</SectionHeader>
	<SectionTitle>Network Statistics</SectionTitle>

	<br />

	<div class:animate-pulse={isLoading} class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-5 gap-4">
		<div class="metric-margin">
			<MetricTitle>Total Value Locked</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalValueLocked}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Total Liquidity</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalLiquidity}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Total Validator Bond</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalBondUSD}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Lifetime Volume</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalVolumeUSD}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Total Pool Earnings</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalPoolEarnings}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Total Swap Count</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalCount}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Unique Swappers</MetricTitle>
			<MetricData loading={isLoading}>{metrics.totalAddresses}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>24h Trading Volume</MetricTitle>
			<MetricData loading={isLoading}>{metrics.dailyTradingVolume}</MetricData>
		</div>

		<div class="metric-margin">
			<MetricTitle>Active Validators</MetricTitle>
			<MetricData loading={isLoading}>{metrics.activeNodeCount}</MetricData>
		</div>

		<!--
        <div class="metric-margin">
            <MetricTitle>BTC Savers APR</MetricTitle>
            <MetricData loading={isLoading}>{metrics.btcSaversAPY}</MetricData>
        </div>

        <div class="metric-margin">
            <MetricTitle>ETH Savers APR</MetricTitle>
            <MetricData loading={isLoading}>{metrics.ethSaversAPY}</MetricData>
        </div>
-->

		<div class="text-center mt-4">
			<a href="https://thorchain.net/" target="_blank" rel="noopener noreferrer" class="w-full">
				<Button
					class="xl:block xl:w-[230px] bg-green font-bold text-small text-black text-center align-middle justify-center "
					gradient
				>
					More Stats
				</Button>
			</a>
		</div>
	</div>
</Section>

<style>
	.metric-margin {
		margin-bottom: 20px;
	}
</style>
