<script>
import cx from 'classnames';
import Card from '../Card/Card.svelte';
import CardButton from '../Card/CardButton.svelte';
import CardCategory from '../Card/CardCategory.svelte';
import CardDescription from '../Card/CardDescription.svelte';
import CardTitle from '../Card/CardTitle.svelte';

export let isHovering = false;
export let buttonText;
export let title;
export let category;
export let description;
export let href = '#';
export let categoryClass = 'text-light-blue';
export let logo = '';

const handleMouseout = () => {
    isHovering = false;
};

const handleMouseover = () => {
    isHovering = true;
};

$: classNames = cx({
        'gradient-border': isHovering,
    },
    'w-full flex',
);

$: categoryClasses = cx(categoryClass);
</script>

<!-- Component Structure -->
<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<div class="sa flex" on:mouseout={handleMouseout} on:mouseover={handleMouseover}>
    <Card class={classNames}>
		<CardCategory class={categoryClasses}>{category}</CardCategory>
        <div class="content-container">
            <!-- New flex container for logo and title -->
            <div class="title-logo-container flex items-center">
                {#if logo}
                <div class="logo-column">
                    <img src={logo} alt="Logo" class="card-logo"/>
                </div>
                {/if}
                <CardTitle size="large">{title}</CardTitle>
            </div>

            <CardDescription>{description}</CardDescription>
            <a {href} target="_blank" rel="noopener noreferrer">
                <CardButton gradient={isHovering}>{buttonText}</CardButton>
            </a>
        </div>
    </Card>
</div>

<style>
.sa {
    transition: border-color 0.3s ease;
}

.card-logo {
    transition: transform 0.3s ease;
    max-width: 100px;
    height: 50px;
    display: block;
    /* Ensure logo uses block layout for centering */
}

/* Apply the hover effect when the card is hovered over */
.sa:hover .card-logo {
    transform: scale(1.2);
}

.logo-column {
    flex: 0 0 auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container {
    width: 100%;
}
</style>
