<script lang="ts">
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
	import SectionDescription from '../Section/SectionDescription.svelte';

	import CheckItem from './components/CheckItem.svelte';
	import Upcoming from './components/Upcoming.svelte';
	import Section from '$lib/components/Section/Section.svelte';
</script>

<Section>
	<SectionHeader>UPCOMING</SectionHeader>
	<SectionTitle>Chain Agnostic Service Provider</SectionTitle>
	<SectionDescription>
		THORChain’s strong foundation for cross-chain communication enables much more than swaps.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[50px] border-[1px] border-green px-[30px] py-[30px] mt-[30px] md:mt-[40px]"
	>
		<Upcoming />
		<div class="space-y-[10px]">	
			<!-- note: Purge older roadmap
			<a href="https://docs.thorchain.org/thorchain-finance/synthetic-asset-model" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Synthetic Assets</CheckItem></a>	
			<a href="https://dev.thorchain.org/thorchain-dev/aggregators/aggregator-overview" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>DEX Aggregation</CheckItem></a>	
			<a href="https://medium.com/thorchain/thorchain-savers-vaults-fc3f086b4057" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Savers Vaults</CheckItem></a>	
			<a href="https://docs.thorchain.org/thorchain-finance/synthetic-asset-model#protocol-owned-liquidity-pol" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Protocol Owned Liquidity</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1511" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Message Passing</CheckItem></a>
			<!-->
			<a href="https://docs.thorchain.org/thorchain-finance/continuous-liquidity-pools#streaming-swaps-and-swap-optimisation" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Streaming Swaps</CheckItem></a>	
			<a href="https://docs.thorchain.org/thorchain-finance/lending" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Lending</CheckItem></a>	
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1789" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Trade Accounts</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1569" target="_blank" rel="noopener noreferrer"><CheckItem>Memoless Transactions</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1364" target="_blank" rel="noopener noreferrer"><CheckItem>Order Book</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1815" target="_blank" rel="noopener noreferrer"><CheckItem>Batched Outbounds</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1858" target="_blank" rel="noopener noreferrer"><CheckItem>EdDSA Support</CheckItem></a>
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1456" target="_blank" rel="noopener noreferrer"><CheckItem>Perpetuals</CheckItem></a>
			<br>
			<a href="https://gitlab.com/groups/thorchain/-/epics?state=opened&page=1&sort=start_date_desc" target="_blank" rel="noopener noreferrer">Stay up to date on <b style="color: #fc6d26">Gitlab</b></a>			
		</div>
	</div>
</Section>
