<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardButton from '../Card/CardButton.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Lending Risk</SectionHeader>
	<SectionTitle>Lending Risk Management</SectionTitle>
	<SectionDescription>
    Protections built into THORChain to keep lending safe
	</SectionDescription>

	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/scales.png" alt="scales" />
			<CardTitle>Lending Caps</CardTitle>
			<CardDescription>
				The Lending protocol is capped to ensure that it does not outgrow the liquidity of the network. Once the caps are hit, new loans cannot be taken out, but existing loans can still be closed.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin.png" alt="bitcoin" />
			<CardTitle>Virtual Liquidity Pools</CardTitle>
			<CardDescription>
				Lending uses virtual pool depths to make swaps between collateral and debt. Virtual pool depths constrict during times of high volatility to protect the network against price manipulation. The best time to take out or pay back a loan is during times of low volatility.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/shield2.png" alt="shield" />
			<CardTitle>RUNE Supply Cap</CardTitle>
			<CardDescription>
				There is a hard supply cap of 500m RUNE that can exist, limiting impact on the RUNE supply and protecting the montary policy of the protocol.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/analysis.png" alt="analysis" />
			<CardTitle>Monitoring</CardTitle>
			<CardDescription>
				Monitoring solutions have been created to provide a comprehensive overview of the lending protocol's health, TOR, collateral value, virtual pools, RUNE supply, and more.
                <a href="https://dashboards.ninerealms.com/#lending" target="_blank" rel="noopener noreferrer">
                    <CardButton>Dashboard</CardButton>
                </a>
			</CardDescription>
		</Card>
	</div>
</Section>
