<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Interfaces</SectionHeader>
	<SectionTitle>Lending Interfaces</SectionTitle>
	<SectionDescription>
		Loans can be opened or managed on any supported interface
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-2 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<LinkCard
			category="Web"
			title="THORSwap"
			description=""
			href="https://app.thorswap.finance/lending"
			buttonText="Enter App"
			logo="/images/services/thorswap.png"
			/>

			<LinkCard
			category="Web"
			title="ShapeShift"
			description=""
			href="https://app.shapeshift.com/#/lending"
			buttonText="Enter App"
			logo="/images/services/shapeshiftdao.svg"
			/>

			<LinkCard
			category="Web"
			title="Lends"
			description=""
			href="https://app.lends.so"
			buttonText="Enter App"
			logo="/images/services/lends.svg"
			/>

			<LinkCard
			category="Web"
			title="THORWallet"
			description=""
			href="https://thorwallet.org"
			buttonText="Enter App"
			logo="/images/services/thorwallet.svg"
			/>

</Section>
