<script>
	import { page } from '$app/stores';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	const handleLinkPress = () => {
		dispatch('linkpress');
	};
</script>

<a class:text-green={$page.routeId === 'integrate'} on:click={handleLinkPress} href="/integrate"
	>Integrate</a
>
<a class:text-green={$page.routeId === 'swap'} on:click={handleLinkPress} href="/swap">
	Swap</a
>
<a class:text-green={$page.routeId === 'yield'} on:click={handleLinkPress} href="/yield"
	>Earn</a
>
<a class:text-green={$page.routeId === 'borrow'} on:click={handleLinkPress} href="/borrow"
	>Borrow</a
>
<a class:text-green={$page.routeId === 'ecosystem'} on:click={handleLinkPress} href="/ecosystem"
	>Ecosystem</a
>
<a class:text-green={$page.routeId === 'rune'} on:click={handleLinkPress} href="/rune"
	>RUNE</a
>
