<script lang="ts">
	import { fade } from 'svelte/transition';

	import Close from '$lib/icons/Close.svelte';
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Mobile from '$lib/icons/Mobile.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Links from '$lib/components/Header/Links.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';

	import { useRunePrice } from '$lib/services/queries';
	import { formatNumber } from '$lib/services/helpers';

	let menuOpen = false;

	const runePriceQuery = useRunePrice();
	$: runePrice = $runePriceQuery.data;

	const openMenu = () => {
		enableBodyScroll();
		menuOpen = true;
	};

	const closeMenu = () => {
		menuOpen = false;
		disableBodyScroll();
	};

	const enableBodyScroll = () => {
		document.body.classList.add('overflow-hidden');
	};

	const disableBodyScroll = () => {
		document.body.classList.remove('overflow-hidden');
	};
</script>

<div class="xl:hidden flex flex-col z-10">
	<div class="text-white py-[15px] flex items-center justify-between space-x-8">
		<a on:click={closeMenu} href="/">
			<img width="140px" height="30px" src="/images/logos/full-dark.png" alt="logo" />
		</a>

		<a href="https://coinmarketcap.com/currencies/thorchain/" target="_blank" rel="noopener noreferrer">
			<button
				class:invisible={!runePrice}
				class="font-bold w-[125px] h-[44px] bg-[#2BBE8C] rounded-[10px] hover:scale-105 transform transition duration-250"
			>
				{runePrice ? `RUNE = $${formatNumber(runePrice)}` : ''}
			</button>
		</a>

		<div class="flex space-x-[30px] items-center text-white">
			{#if menuOpen}
				<div on:click={closeMenu}>
					<Close class="w-6 h-6" />
				</div>
			{:else}
				<div on:click={openMenu}>
					<Mobile class="w-6 h-6" />
				</div>
			{/if}
		</div>
	</div>

	{#if menuOpen}
		<div
			in:fade={{ duration: 300 }}
			out:fade={{ duration: 150 }}
			class="absolute z-50 flex flex-1 flex-col left-0 right-0 top-0 h-screen pointer-events-none"
		>
			<div
				class="bg-black mt-[60px] flex flex-col flex-1 items-center pb-[80px] pt-[40px] px-[20px] space-y-[100px] font-extrabold text-text-primary select-none pointer-events-none"
			>
				<div
					class="flex flex-col space-y-[50px] flex-1 justify-center text-center text-m-h4 pointer-events-auto"
				>
					<Links on:linkpress={closeMenu} />
				</div>

				<div class="flex items-center space-x-[35px] pointer-events-auto">
					<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
						<Medium class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
						<Telegram class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
						<Gitbook class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
						<Twitter class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
				</div>
			</div>
		</div>
	{/if}
</div>
