<script lang="ts">
    import Section from '$lib/components/Section/Section.svelte';
    import Card from '../Card/Card.svelte';
    import CardTitle from '../Card/CardTitle.svelte';
    import CardDescription from '../Card/CardDescription.svelte';
    import SectionDescription from '../Section/SectionDescription.svelte';
    import SectionTitle from '../Section/SectionTitle.svelte';
    import { slide } from 'svelte/transition';

    let descriptionVisible = Array(8).fill(false);

    function toggleDescription(index: number) {
        descriptionVisible[index] = !descriptionVisible[index];
    }
</script>

<style>
.card-hover-effect {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-hover-effect:hover {
    transform: scale(1.05);
}
</style>

<Section>
    <SectionTitle>Trust Minimized Infrastructure</SectionTitle>
    <SectionDescription>
        THORChain was designed from first principles to minimize trust and become a scalable, economically secure cross-chain communication and settlement layer.
        Dozens of exchanges rely on THORChain to process swaps for their users & more.
    </SectionDescription>

    <div
        class="grid grid-cols-2 lg:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px] self-center"
    >
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(0)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/blockchain.png" alt="swap" />
                <CardTitle>Native Asset Swaps</CardTitle>
                {#if descriptionVisible[0]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Swap cross-chain without the risks of bridges or wrapped assets
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(1)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/time-is-money.png" alt="liquidity" />
                <CardTitle>Streaming Swaps</CardTitle>
                {#if descriptionVisible[1]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Automatically break up large swaps into sub-swaps executed over time for better price execution
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(2)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/scales.png" alt="liquidity" />
                <CardTitle>Dual Liquidity</CardTitle>
                {#if descriptionVisible[2]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Deposit RUNE and another asset and become a dual liquidity provider
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(3)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/analytics.png" alt="savers" />
                <CardTitle>Savers Vaults</CardTitle>
                {#if descriptionVisible[3]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Deposit a Layer 1 asset only and earn single-sided yield
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(4)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/filter.png" alt="aggregation" />
                <CardTitle>DEX Aggregation</CardTitle>
                {#if descriptionVisible[4]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        THORChain can swap to or from another DEX with one user transaction - linking multiple liquidity sources & improving price execution
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(5)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/blockchain2.png" alt="aggregation" />
                <CardTitle>Generic Messaging</CardTitle>
                {#if descriptionVisible[5]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Pass generic messages between different blockchains
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(6)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/money.png" alt="aggregation" />
                <CardTitle>Lending</CardTitle>
                {#if descriptionVisible[6]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Borrow a USD denominated debt against your native assets with no liquidations and no interest.
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>

        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click={() => toggleDescription(7)} class="card-hover-effect">
            <Card>
                <img width="50px" height="50px" src="/images/icons/bitcoin.png" alt="aggregation" />
                <CardTitle>Trade Assets</CardTitle>
                {#if descriptionVisible[7]}
				<div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                    <CardDescription>
                        Trade Assets mirror the price of a Layer 1 asset, but trade at the speed and finality of THORChain. Backed 1:1 by native assets secured by the network.
                    </CardDescription>
				</div>
                {/if}
            </Card>
        </div>
    </div>
</Section>
