<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

    let integrations = [
        { title: "THORSwap", href: "https://app.thorswap.finance/", logo: "/images/integrated/thorswap.png" },
        { title: "Trust Wallet", href: "https://trustwallet.com", logo: "/images/integrated/trust.svg" },
        { title: "ShapeShift", href: "https://shapeshift.com", logo: "/images/integrated/shapeshift.png" },
        { title: "Li.Fi", href: "https://li.fi", logo: "/images/integrated/lifi.svg" },
        { title: "Cake Wallet", href: "https://cakewallet.com", logo: "/images/integrated/cakewallet.png" },
        { title: "XDEFI Wallet", href: "https://xdefi.io", logo: "/images/integrated/xdefi.png" },
        { title: "Edge", href: "https://edge.app", logo: "/images/integrated/edge.png" },
        { title: "THORWallet", href: "https://thorwallet.org", logo: "/images/integrated/thorwallet.png" },
        { title: "Rango", href: "https://rango.exchange", logo: "/images/integrated/rango.png" }
    ];
</script>

<Section>
    <SectionHeader>Providing Native Asset Infrastructure</SectionHeader>
    <SectionTitle>Built With THORChain</SectionTitle>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px] max-w-full mx-auto">
        {#each integrations as {title, href, logo}}
            <div class="flex-1 content-center p-2 hover:scale-110 transform transition duration-500 rounded-lg shadow hover:shadow-lg" style="background-color: rgba(44, 190, 140, 0.075);">
                <a href={href} class="flex items-center justify-center">
                    <img src={logo} alt="{title} logo" class="object-contain h-12 w-auto mx-auto" />
                </a>
            </div>
        {/each}
    </div>
</Section>


