<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	const swiperValues = ['No liquidations', 'No Interest', 'No Expiration', 'Native BTC', 'Native ETH'];

	import { useLendingMetrics } from '$lib/services/queries';
	const lendingMetrics = useLendingMetrics();

$: lendingMetricsData = $lendingMetrics.data;
$: lendingMetricsIsLoading = $lendingMetrics.isLoading;
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
		<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
			<span class="text-green">Borrow with</span>
            <Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
				{#each swiperValues as value}
					<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
						{value}
					</SwiperSlide>
				{/each}
			</Swiper>
		</h1>

			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Borrow against your native assets like BTC or ETH and receive a USD denominated debt without interest, expiration, or risk of liquidation.</p>
			<div
				class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
			>
				<a
					href="https://medium.com/thorchain/lending-on-thorchain-646bbf2e6e1b"
					target="_blank"
					rel="noopener noreferrer"
				>
					<Button class="justify-center px-[70px] py-[15px] w-full" gradient>Learn More</Button>
				</a>

				<a
					href="https://docs.thorchain.org/thorchain-finance/lending"
					target="_blank"
					rel="noopener noreferrer"
				>
				<Button class="justify-center px-[70px] py-[15px] w-full">Docs</Button>
				</a> 
			</div>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>
	</div>
<br> <br>
	<div
	class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
	>	
		{#if !lendingMetricsIsLoading}
			<div
				class:animate-pulse={lendingMetricsIsLoading}
				class="flex flex-col sm:flex-row sm:space-x-[100px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
			>
				<div>
					<h1
						class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
					>
						Unique Borrowers
					</h1>
					<h2 class="font-extrabold text-d-h3 text-text-primary">
						{lendingMetricsData.totalBorrowers}
					</h2>
				</div>
				<div>
					<h1
						class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
					>
						Total Collateral Value
					</h1>
					<h2 class="font-extrabold text-d-h3 text-text-primary">
						${lendingMetricsData.totalCollateralValueUSD}
					</h2>
				</div>

				<div>
					<h1
						class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
					>
						BTC Collateral
					</h1>
					<h2 class="font-extrabold text-d-h3 text-text-primary">
						{lendingMetricsData.lendingCollateralBTC}
					</h2>
				</div>
				<div>
					<h1
						class="font-extrabold text-title-big tracking-[0.2em] uppercase text-text-secondary"
					>
						ETH Collateral
					</h1>
					<h2 class="font-extrabold text-d-h3 text-text-primary">
						{lendingMetricsData.lendingCollateralETH}
					</h2>
				</div>
			</div>
			
		{/if}
	</div>
</Section>
