<script lang="ts">
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';
</script>

<Section>
	<section class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				Diverse teams. <br /> <span class="text-green">Common goals.</span>
			</h1>
			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Discover a wide range of apps, wallets, tools, and resources built in the THORChain
				ecosystem by developers and contributors from around the world.
			</p>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>
	</section>
</Section>
