<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';
    import CardButton from '../Card/CardButton.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Streaming Swaps</SectionHeader>
	<SectionTitle>Save More with Streaming Swaps</SectionTitle>
	<SectionDescription>
		Streaming Swaps break up larger swaps into multiple smaller sub-swaps executed over a period of time
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/time-is-money.png" alt="tree" />
			<CardTitle>Price Optimized Swaps</CardTitle>
			<CardDescription>
				Users can pick the number of blocks between sub-swaps and the number of sub-swaps to execute. More sub-swaps means paying less liquidity fees.
			</CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/analysis.png" alt="tree" />
			<CardTitle>Better Execution</CardTitle>
			<CardDescription>Streaming swap fees are so low because liquidity demands for a trade are met over time, rather than all at once. Swap fees can go as low as 5 basis points, even for the largest trades
            </CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/product.png" alt="tree" />
			<CardTitle>On-Chain TWAP</CardTitle>
			<CardDescription>
				THORChain has built-in MEV protection and deterministic swap ordering to make it safe trading over an extended period of time.
                <a href="https://medium.com/thorchain/introducing-streaming-swaps-eff37f6150f3" target="_blank" rel="noopener noreferrer"><CardButton>Learn More</CardButton></a>
			</CardDescription>
		</Card>
	</div>
</Section>
