<script lang="ts">
	import AssetCardYield from '$lib/components/AssetCardYield/AssetCardYield.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import Button from '$lib/components/Button/Button.svelte';
	// import SaversCheckerTool from '../SaversCheckerTool/SaversCheckerTool.svelte';

	import { useLPTableData } from '$lib/services/queries';

	import { Accordion, AccordionItem } from 'svelte-collapsible';

	const tableDataQuery = useLPTableData();

	$: tableData = $tableDataQuery.data;
</script>

<Section>
	<div class="border-[1px] border-green p-[50px]">
		<h2 class="font-extrabold text-d-h3 text-text-primary">Savers Vaults</h2>
		<p class="font-medium text-normal text-text-primary mt-[20px]">
			Savers is the simplest way to provide liquidity to THORChain. Users can deposit any major Layer 1 asset and earn without RUNE price exposure. Withdraw to native assets at any time.
		</p>
		<br>
		<div
		class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
	>
		<a
			href="https://medium.com/thorchain/thorchain-savers-vaults-fc3f086b4057"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Button class="justify-center px-[70px] py-[15px] w-full">Learn More</Button>
		</a>
		</div>
	</div>

	{#if tableData}
		<div class=" text-text-primary space-y-[30px] mt-[40px]">
			{#each tableData as data}
				<AssetCardYield
					category={data.chain}
					categoryClass={data.color}
					title={data.name}
					liquidity={data.liquidity}
					poolAPY={data.poolAPY}
					saversDepth={data.saversDepth}
					saversAPR={data.saversAPR}
					href={data.depositURL}
					icon={data.icon}
				/>
			{/each}
		</div>
	{/if}

	<Accordion>
		<div class="grid grid-cols-5">
			<div class="grid col-span-5">
				<AccordionItem key="a">
					<h2 class="text-text-secondary" slot="header">How are these APR figures calculated?</h2>
					<p slot="body">
						Dual Asset APRs are calculated using the earnings of the previous <a class="text-green"> 30 days</a> of dual RUNE-ASSET LP
						performance, annualized. This figure does not account for impermanent loss. <br /> <br />Savers APR is calculated using the trend of the past <a class="text-green">30 days</a> of
						performance, annualized. <br /> <br />APR is backwards-looking and past performance is not indicative of future performance. <br />
						<!-- Deprecated article, removing reference <a
							class="text-green"
							href="https://medium.com/thorchain/introduction-to-luvi-and-midgard-apr-calculation-update-cf15e743276d"
							>Learn more</a
						> -->
					</p>
				</AccordionItem>
			</div>
		</div>
	</Accordion> 
</Section>

<style>
	.savers-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.savers-checker {
		margin-top: 20px;
	}

	@media (min-width: 1280px) {
		.savers-container {
			flex-direction: row;
		}

		.savers-checker {
			display: block;
		}
	}

	.savers-text {
		margin-right: 20px;
		margin-bottom: 10px;
	}

	@media (max-width: 639px) {
		.savers-checker {
			display: none;
		}
	}
</style>
